.content-container {
    width: 640px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
}
h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ffffff;

}

table th:nth-child(2),
table td:nth-child(2),
table th:nth-child(3),
table td:nth-child(3),
table th:nth-child(5),
table td:nth-child(5) {
    white-space: nowrap;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    font-family: sans-serif;
}

.pagination button {
    background-color: #ff3479;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 6px 12px;
    cursor: pointer;
    margin: 0 5px;
    font-size: 14px;
    transition: background-color 0.3s;
}

.pagination button:hover {
    background-color: #ff70a1;
}

.pagination span {
    font-size: 16px;
    margin: 0 8px;
    color: #333;
}



th {
    background-color: #fafafa;
}
.details-button {
    background-color: #ff3479;
    color: #fff;
    padding: 8px 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.details-button:hover {
    background-color: #ff3479;
}
.dropdown-content {
    display: block;
    max-height: 0;
    padding: 0 10px;
    background-color: #fafafa;
    margin-top: -6px;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
}
.section-title {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #ff3479;
}


p {
    margin: 8px 0;
    line-height: 1.4;
}
.info-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.info-item img {
    margin-right: 10px;
}
.info-item p {
    margin: 0;
}
img.thumbnail {
    width: 100px;
    height: 80px;
    object-fit: cover;
    border-radius: 4px;
}

/* 수정, 삭제 버튼 스타일 */
.action-buttons {
    margin-left: auto;
    display: flex;
    gap: 8px;
}
.edit-button, .delete-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 4px 8px;
    cursor: pointer;
}
.delete-button {
    background-color: #dc3545;
}

.designer-action-buttons,
.procedure-action-buttons {
    margin: 10px 0;
    display: flex;
    gap: 8px;
    justify-content: flex-end;
}

.edit-button, .delete-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 6px 10px;
    cursor: pointer;
}

.delete-button {
    background-color: #dc3545;
}

.media-images {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}

.media-image {
    width: calc(50% - 10px); /* 한 줄에 2개씩, gap 고려 */
}

.media-image img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
    border-radius: 4px;
}

