<!DOCTYPE html>
<html lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>언니어때 - 커뮤니티</title>
    <link rel="stylesheet" th:href="@{/css/board/boardList.css}">
</head>

<body>
<div layout:fragment="content" id="main" class="flex-col">
    <div id="store">
        <div id="title">
            <div id="category-tabs">
                <button class="category-tab active" data-category="공지 있어!">공지</button>
                <button class="category-tab" data-category="여기 할인어때?">할인</button>
                <button class="category-tab" data-category="나 뭐가 어울려?">스타일</button>
                <button class="category-tab" data-category="이 꿀팁 들어봤어?">꿀팁</button>
                <button class="category-tab" data-category="이템 어때?">아이템</button>
                <button class="category-tab" data-category="자유게시판">자유</button>
            </div>
            <div id="tab-sort">
                <select id="sort-dropdown" class="filter-control">
                    <option value="LATEST">최신순</option>
                    <option value="POPULAR">인기순</option>
                </select>
            </div>
        </div>

        <div id="search-bar">
            <select id="search-type-dropdown" class="filter-control">
                <option value="TITLE">제목</option>
                <option value="CONTENT">내용</option>
            </select>
            <input type="text" id="search-input" placeholder="검색어를 입력하세요">
            <button id="search-button">검색</button>
        </div>

        <div id="contents" class="grid-layout">
            <div class="loader"></div>
        </div>

        <div id="pagination">
        </div>

    </div>

    <div layout:fragment="scripts">
        <script th:src="@{/js/board/boardList.js}"></script>
    </div>
</div>

</body>

</html>