<!DOCTYPE html>
<html lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>새 글 작성 - 언니어때</title>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>

    <link rel="stylesheet" th:href="@{/css/board/boardForm.css}">
</head>
<body>
<div class="container" layout:fragment="content">
    <div class="form-container">
        <form id="board-form">
            <h2>글쓰기</h2>
            <div class="form-group">
                <label for="category">카테고리</label>
                <select id="category" name="boardCategory" class="form-control" required>
                    <option value="공지 있어!">공지</option>
                    <option value="여기 할인어때?">할인</option>
                    <option value="나 뭐가 어울려?">스타일</option>
                    <option value="이 꿀팁 들어봤어?">꿀팁</option>
                    <option value="이템 어때?">아이템</option>
                    <option value="자유게시판" selected>자유</option>
                </select>
            </div>
            <div class="form-group">
                <label for="title">제목</label>
                <input type="text" id="title" name="boardTitle" class="form-control" placeholder="제목을 입력해주세요" required>
            </div>
            <div class="form-group">
                <label for="summernote-content">내용</label>
                <textarea id="summernote-content" name="boardContents" required></textarea>
            </div>

            <div id="attachment-preview-area">
                <h5>첨부 파일 목록</h5>
                <div id="attachment-list">
                </div>
            </div>

            <div class="form-actions">
                <button type="button" id="cancel-button" class="btn btn-ghost">취소</button>
                <button type="submit" class="btn btn-primary">작성 완료</button>
            </div>
        </form>
    </div>

    <div layout:fragment="scripts">
        <script th:src="@{/js/board/boardWrite.js}"></script>
    </div>
</div>

</body>
</html>