<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>마이페이지</title>
    <link rel="stylesheet" href="/css/mypage/mypage.css">
</head>
<body>
<div class="container" layout:fragment="content">
    <div class="inner-wrapper">
        <!-- 상단 사각형 영역 프로필 정보 -->
        <div class="rect">
            <div class="profile-info">
                <img th:src="${member.memberProfile}" alt="프로필 이미지">
                <div class="profile-text">
                    <p class="name" th:text="${member.memberNickname}"></p>
                    <p class="email" th:text="${member.memberEmail}"></p>
                </div>
                <!-- 회원정보 수정 버튼 (화살표 아이콘) -->
                <a href="/mypage/member/edit" class="edit-profile">
                    <img src="/img/member/arrow.png" alt="회원정보 수정">
                </a>
            </div>
        </div>

        <div class="management-nav">
            <ul class="dropdown-menu">
                <li class="menu-item">
                    <a href="/mypage/review">
                        <span class="menu-text">나의 리뷰</span>
                        <span class="arrow">&gt;</span>
                    </a>
                </li>

                <li class="menu-item">
                    <a href="/mypage/reservations">
                        <span class="menu-text">내 예약 관리</span>
                        <span class="arrow">&gt;</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="/mypage/community/posts">
                        <span class="menu-text">나의 게시글</span>
                        <span class="arrow">&gt;</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="/mypage/community/comments">
                        <span class="menu-text">나의 댓글</span>
                        <span class="arrow">&gt;</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="/mypage/shop">
                        <span class="menu-text">업체 등록</span>
                        <span class="arrow">&gt;</span>
                    </a>
                </li>
                <li class="menu-item" sec:authorize="hasRole('MANAGER')">
                    <a href="/mypage/myshop">
                        <span class="menu-text">내 업체 조회 • 수정</span>
                        <span class="arrow">&gt;</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>