# .ebextensions/01-install-redis.config

packages:
  yum:
    redis: []

commands:
  01_redis_bind_config:
    command: "sudo sed -i 's/bind 127.0.0.1/# bind 127.0.0.1/g' /etc/redis.conf"
  02_redis_protected_mode_config:
    command: "sudo sed -i 's/protected-mode yes/protected-mode no/g' /etc/redis.conf"

services:
  sysvinit:
    redis:
      enabled: true
      ensureRunning: true