<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8"/>
    <title>언니어때 - 메인페이지</title>
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>

<div layout:fragment="content">

    <!-- 메인 배너 -->
    <section class="main-banner">
        <img src="/img/common/Banner.png" alt="메인 배너 이미지">
    </section>

    <!-- 메인 아이콘 메뉴 -->
    <section class="icon-menu">
        <ul>
            <li onclick="location.href='/map/map?category=헤어샵'">
                <img src="/img/common/Icon1.png" alt="헤어샵 아이콘">
                헤어샵
            </li>
            <li onclick="location.href='/map/map?category=네일샵'">
                <img src="/img/common/Icon2.png" alt="네일샵 아이콘">
                네일샵
            </li>
            <li onclick="location.href='/map/map?category=에스테틱'">
                <img src="/img/common/Icon3.png"  alt="에스테틱 아이콘">
                에스테틱
            </li>
            <li onclick="location.href='/map/map?category=왁싱샵'">
                <img src="/img/common/Icon4.png"  alt="왁싱샵 아이콘">
                왁싱샵
            </li>
            <li onclick="location.href='/map/map?category=바버샵'">
                <img src="/img/common/Icon5.png"  alt="바버샵 아이콘">
                바버샵
            </li>
        </ul>
    </section>

    <!-- 주변 핫한 뷰티샵 섹션 -->
    <section class="hot-beauty">
        <h2>주변 핫한 뷰티샵</h2>
        <div id="shop-wrapper"></div>
    </section>

    <!-- 이번 주 꿀팁 섹션 (YouTube 영상) -->
    <section class="tips-section">
        <h2>이번 주 꿀팁</h2>
        <div class="tips-wrapper" id="youtube-wrapper"></div>
    </section>

    <div layout:fragment="scripts">
        <script src="/js/index.js"></script>
    </div>
</div>

</body>
</html>
