<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>리뷰 등록</title>
</head>
<body>
<h1>리뷰 등록</h1>
<form action="/review" method="post">
    <label for="reviewMemberId">작성자 ID:</label>

    <input type="number" id="reviewMemberId" name="reviewMemberId" required><br><br>

    <label for="reviewReceiptId">영수증 ID:</label>
    <input type="number" id="reviewReceiptId" name="reviewReceiptId" required><br><br>

    <label for="reviewImage">리뷰 이미지 URL:</label>
    <input type="text" id="reviewImage" name="reviewImage" required><br><br>

    <label for="reviewRate">리뷰 별점:</label>
    <input type="number" id="reviewRate" name="reviewRate" min="1" max="5" required><br><br>

    <label for="reviewContent">리뷰 내용:</label>
    <textarea id="reviewContent" name="reviewContent" required></textarea><br><br>

    <label for="keywordIds">키워드 ID (여러개는 콤마(,)로 구분):</label>
    <input type="text" id="keywordIds" name="keywordIds"><br><br>

    <button type="submit">리뷰 등록</button>
</form>
</body>
</html>
