<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssginc.unnie.admin.mapper.AdminShopMapper">
    <delete id="refuseShop" parameterType="int">
        DELETE FROM shop
        WHERE shop_id = #{shopId}
          AND shop_status = 0
    </delete>



    <select id="findAllShops" resultType="com.ssginc.unnie.admin.dto.shop.AdminShopResponse">
        select shop_id,shop_name, shop_representation_name
        from shop
        where shop_status = 0;
    </select>


    <update id="approveShop" parameterType="int">
        UPDATE shop
        SET shop_status = 1, shop_registrated_at = current_timestamp
        WHERE shop_id = #{shopId}
          AND shop_status = 0
    </update>

    <update id="updateShopCoordinates" parameterType="map">
        UPDATE shop
        SET shop_latitude = #{latitude}, shop_longitude = #{longitude}
        WHERE shop_id = #{shopId}
    </update>


    <select id="findShopAddressById" parameterType="int" resultType="java.lang.String">
        SELECT shop_location
        FROM shop
        WHERE shop_id = #{shopId}
    </select>

    <select id="findShops" parameterType="map" resultType="com.ssginc.unnie.mypage.dto.shop.ShopResponse">
        SELECT shop_id, shop_name
        FROM shop
        WHERE shop_status = 1
        LIMIT #{offset}, #{pageSize}
    </select>

    <select id="getTotalShopCount" resultType="int">
        SELECT COUNT(*)
        FROM shop
        WHERE shop_status = 1
    </select>




    <select id="findShopApproveDetail" resultType="com.ssginc.unnie.mypage.dto.shop.MyShopDetailResponse">
        SELECT
            shop_id,
            shop_name,
            shop_location,
            shop_category,
            shop_business_time,
            shop_tel,
            shop_introduction,
            shop_closed_day,
            shop_business_number,
            shop_representation_name
        FROM shop
        WHERE shop_id = #{shopId} and shop_status = 0
    </select>

    <select id="findShopDetail" resultType="com.ssginc.unnie.mypage.dto.shop.MyShopDetailResponse">
        SELECT
            shop_id,
            shop_name,
            shop_location,
            shop_category,
            shop_business_time,
            shop_tel,
            shop_introduction,
            shop_closed_day,
            shop_business_number,
            shop_representation_name
        FROM shop
        WHERE shop_id = #{shopId} and shop_status = 1
    </select>


</mapper>