<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssginc.unnie.media.mapper.MediaMapper">
    <insert id="insert">
        insert into media
        (
            media_target_type,
            media_target_id,
            media_urn,
            media_origin_name,
            media_changed_name
        )
        values
            (
                #{targetType},
                #{targetId},
                #{fileUrn},
                #{fileOriginalName},
                #{newFileName}
            )
    </insert>
    <delete id="deleteByFileUrn">
        DELETE FROM media WHERE media_urn = #{fileUrn}
    </delete>

    <select id="selectFileUrnByTarget" resultType="String">
        SELECT media_urn
        FROM media
        WHERE media_target_type = #{targetType}
          AND media_target_id = #{targetId}
    </select>

    <delete id="deleteMediaByTarget">
        DELETE FROM media
        WHERE media_target_type = #{targetType}
          AND media_target_id = #{targetId}
    </delete>

</mapper>

