<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssginc.unnie.member.mapper.MemberMapper">

    <select id="checkMemberEmail" resultType="java.lang.Integer">
        SELECT COUNT(member_id) FROM member WHERE member_email = #{email}
    </select>

    <select id="checkMemberNickname" resultType="java.lang.Integer">
        SELECT COUNT(member_id) FROM member WHERE member_nickname = #{nickname}
    </select>

    <insert id="insertMember">
        INSERT INTO member (
            member_email, member_pw, member_name, member_nickname,
            member_phone, member_birth, member_gender
        ) VALUES (
            #{memberEmail}, #{memberPw}, #{memberName}, #{memberNickname},
            #{memberPhone}, #{memberBirth}, #{memberGender}
        )
    </insert>

    <insert id="insertOAuthMember">
        INSERT INTO member (
            member_email, member_pw, member_name, member_nickname,
            member_phone, member_birth, member_gender, member_provider
        ) VALUES (
             #{memberEmail}, #{memberPw}, #{memberName}, #{memberNickname},
             #{memberPhone}, #{memberBirth}, #{memberGender}, #{memberProvider}
        )
    </insert>

    <select id="selectMemberByEmail" resultType="com.ssginc.unnie.member.vo.Member">
        SELECT * FROM member WHERE member_email = #{memberEmail}
    </select>

    <select id="selectMemberById" resultType="com.ssginc.unnie.member.vo.Member">
        SELECT * FROM member WHERE member_id = #{memberId}
    </select>

    <select id="selectMemberByNameAndPhone" resultType="java.lang.String">
        SELECT member_email
        FROM member
        WHERE member_name = #{memberName}
        AND member_phone = #{memberPhone}
    </select>

    <update id="updateMemberPassword">
        UPDATE member
        SET member_pw = #{memberPw},  member_updated_at = CASE
            WHEN member_updated_at IS NULL THEN NOW()
            ELSE CURRENT_TIMESTAMP
            END
        WHERE member_email = #{memberEmail}
    </update>
</mapper>