<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssginc.unnie.shop.mapper.ShopMapper">
<!--    <insert id="insertBookmark" parameterType="com.ssginc.unnie.shop.dto.ShopBookmarkRequest">-->
<!--        INSERT INTO bookmark VALUES-->
<!--            (#{bookmarkMemberId}, #{bookmarkShopId})-->
<!--    </insert>-->

<!--    <delete id="deleteBookmark" parameterType="int">-->
<!--        DELETE FROM bookmark-->
<!--        WHERE bookmark_shop_id = #{bookmarkShopId}-->
<!--    </delete>-->


    <select id="selectShopByCategory" resultType="com.ssginc.unnie.shop.dto.ShopResponse">
        SELECT
            s.shop_id,
            s.shop_name,
            COUNT(re.review_id) AS review_count,
            COALESCE(ROUND(AVG(re.review_rate), 2), 0) AS avg_rate,
            s.shop_location
        FROM shop s
                 LEFT JOIN receipt r ON r.receipt_shop_id = s.shop_id
                 LEFT JOIN review re ON r.receipt_id = re.review_receipt_id
        WHERE s.shop_category = #{shopCategory}
          AND s.shop_status = 1
        GROUP BY s.shop_id, s.shop_name, s.shop_location;
    </select>


    <select id="findDesignersByShopId" resultType="com.ssginc.unnie.shop.dto.ShopDesignerResponse">
        SELECT designer_id,designer_name,designer_introduction,designer_thumbnail,designer_shop_id
        FROM designer
        WHERE designer_shop_id = #{shopId}
    </select>

    <select id="findProceduresByShopId" resultType="com.ssginc.unnie.shop.dto.ShopProcedureResponse">
        SELECT procedure_id, procedure_name, procedure_price, procedure_thumbnail
        from `procedure`
        where procedure_shop_id = #{shopId}
    </select>

    <select id="findShopById" resultType="com.ssginc.unnie.shop.dto.ShopInfoResponse">
        SELECT
            s.shop_id,
            s.shop_name,
            s.shop_business_time,
            s.shop_member_id,
            s.shop_tel,
            COUNT(re.review_id) AS review_count,
            ROUND(AVG(re.review_rate), 2) AS avg_rate,
            s.shop_location,
            MAX(re.review_date) AS latest_review_date,
            COALESCE(ROUND(AVG(re.review_rate), 2), 0) AS avg_rate,
            s.review_summary,
            SUBSTRING_INDEX(GROUP_CONCAT(re.review_content ORDER BY re.review_date DESC), ',', 1) AS latest_review_content,
            SUBSTRING_INDEX(GROUP_CONCAT(m.member_nickname ORDER BY re.review_date DESC), ',', 1) AS latest_member_nickname
        FROM shop s
                LEFT JOIN receipt r ON r.receipt_shop_id = s.shop_id
                LEFT JOIN review re ON r.receipt_id = re.review_receipt_id
                LEFT JOIN member m ON re.review_member_id = m.member_id
        WHERE s.shop_id = #{shopId} AND s.shop_status = 1
        AND re.review_status = 0
        GROUP BY s.shop_id, s.shop_name, s.shop_business_time, s.shop_member_id, s.shop_location,review_summary;
    </select>


    <select id="findShopDetailsById" resultType="com.ssginc.unnie.shop.dto.ShopDetailsResponse">
        SELECT
            shop_name,
            shop_location,
            shop_category,
            shop_business_time,
            shop_tel,
            shop_introduction,
            shop_closed_day
        from shop
        where shop_id = #{shopId} AND shop_status = 1
    </select>
    <select id="getAllActiveShops" resultType="com.ssginc.unnie.shop.dto.ShopAllResponse">
        SELECT shop_name, shop_latitude, shop_longitude, shop_category,shop_id
        FROM shop
        WHERE shop_status = 1
    </select>

    <delete id="deleteByHotshopDate">
        DELETE FROM hotshop
        WHERE hotshop_date = #{date}
    </delete>

    <insert id="insertHotshop" useGeneratedKeys="true" keyProperty="hotshopId">
        INSERT INTO hotshop (hotshop_shop_id, hotshop_date)
        VALUES (#{hotshopShopId}, #{hotshopDate})
    </insert>

    <select id="selectByHotshopDate">
        SELECT hotshop_id, hotshop_shop_id, hotshop_date
        FROM hotshop
        WHERE hotshop_date = #{date}
    </select>


</mapper>